@import '../../styles/_variables.scss';
@import '../../styles/_mixins.scss';
.register-container {
    .register-form {
      display: flex;
      flex-direction: column;
  
      label {
        margin-bottom: 0.25rem;
        font-weight: 600;
      }
  
      input {
        padding: 0.6rem;
        margin-bottom: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 1rem;
      }
  
      .error-msg {
        color: $error-color;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 0.9rem;
      }
  
      button {
        padding: 0.7rem;
        font-size: 1rem;
        background-color: $secondary-color;
        color: $white;
        font-weight: bold;
        @include transition-all(0.2s);
  
        &:hover {
          background-color: darken($secondary-color, 10%);
        }
      }
    }
  
    .login-link {
      text-align: center;
      margin-top: 1.5rem;
  
      p {
        margin-bottom: 0.5rem;
      }
    }
  }
  