.league-leaderboard-page {
  margin-top: 2rem; 
  position: relative;
  margin-bottom: 55px;

  .leaderboard-header {
    display: flex;
    align-items: center;
    margin: 0 2rem 1rem;
    .arrow-right {
      font-size: 2rem;
      color: #fff;
      cursor: pointer;
      
      margin-right: 0.5rem;
    }
    .league-code {
    position: absolute;
    font-size: 14px;
    left: 1rem;
      font-size: 14px;
      font-weight: 400;
      color: #ccc; 

      margin-left: 1rem;
    
    }

    .league-title {
      font-size: 24px;
      font-weight: 600;
      color: #fff;
      margin-right: 0.5rem;
 
    }
  }

  .leaderboard-list {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin: 0 2rem; // same side padding

    .leaderboard-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 8px;
      padding: 0.6rem 1rem;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      
      &:hover {
        background: rgba(255, 255, 255, 0.3);
      }

      .points-label {
        font-size: 12px;
        font-weight: 400;
    
        color: white;
      }

      .username {
        font-size: 14px;
        font-weight: 400;
        position: absolute;
        right: 6rem;
        color: #fff;
      }

      .rank {
        font-size: 16px;
        font-weight: 600;
        color: #fff;
        // the far right text, e.g. "1", "2", "3", or user points
      }
    }
  }
}
