.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    
  
    .header-logo {
      height: 40px; /* adjust */
    }
  
    .header-question {
      margin-bottom: 2rem;
      cursor: pointer;
      // style color, spacing, etc.
    }
  }
  