.app-header {
  align-items: center;
  position: fixed;
  display: flex
;
  justify-content: space-between;
  padding: .5rem 2rem;
  
    .header-logo {
      app-header .header-logo {
        margin-bottom: 5px;
        margin-right: 25vh;
        height: 40px;
    }
    }
  
    .header-question {
      margin-bottom: 2rem;
      cursor: pointer;
      // style color, spacing, etc.
    }
  }
  