.tutorial-overlay {
  display: flex
  ;
      inset: 0;
      position: fixed;
      z-index: 2000;
      
  }
  
  .tutorial-box {
    background: #0b131e;
    border-radius: 12px;
    color: white;
    direction: rtl;
    position: relative;
    text-align: center;
    padding-bottom: 50px;
    .button-row {
      display: grid
      ;
          justify-content: center;
          gap: 17px;
    }
    .header-logo{
      margin-top: 30px;
      align-self: center;
      width: 80px;
    }
    h2 {
      margin-bottom: 0.5rem;
      font-size: 22px;
      margin-top: 5%;
    }
  
    p {
      font-size: 16px;
      margin-bottom: 1rem;
    }
  
    .tutorial-image {
      img {
        width: 80%;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      }
      .tutorial-image:empty {
        display: none;
      }
    }
  
    .next-btn {
      background: #fff;
      border-radius: 8px;
      color: #0b131e;
      cursor: pointer;
      font-family: 'Almoni Neue';
      font-size: 16px;
      padding: .7rem 7rem;
    }
    .skip-btn {
      background: #0b131e;
      border: 1px solid;
      border-radius: 8px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      font-family: 'Almoni Neue';
      padding: .6rem 8.2rem;
    }
  }
  
.text1 { 
  margin-right: 10%;
  width: 80%;
}
  